extends layout

block content

	h1 add a task!
	form(action="/api/add", method="post")
		div.input
			label date
			input(type="text", name="date")
		div.input
			label text
			input(type="text", name="text")
		div.actions
			input(type="submit")